.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

li > code,
p > code,
td > code {
  background: var(--code-bg-color);
  color: var(--c-text);
}

tr:nth-child(2n) {
  background-color: unset;
}

.custom-block.tip {
  background-color: var(--c-divider-light);
}

:root {
  --c-brand: rgb(230, 20, 240);
  --c-brand-light: rgba(230, 20, 240, 0.5);
  --c-bg: rgb(23, 26, 31);
  --c-text: rgb(230, 230, 230);
  --c-text-light: rgb(180, 180, 180);
  --c-divider-light: rgb(36, 42, 49);
  --code-bg-color: #373c47;
}
