{
  "presets": [
    ["@babel/preset-env", {
      // "useBuiltIns": "usage",
      // "debug": true,
      "modules": false,
      // "targets": {
      //   "esmodules": true
      // }
    }],
    
  ]
}