html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(39, 39, 39);
}

button {
  margin: 0;
  border: 0;
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100%;
}

#button-position {
  position: fixed;
  top: 30px;
  left: 50%;
}

#button-group {
  transform: translate(-50%, 0);
}

#button-group p {
  color: white;
}

#button-group button {
  margin: 0 5px;
  font-size: 16px;
  padding: 8px 10px;
  background: rgb(237, 75, 243);
  border-radius: 3px;
  box-shadow: 0 0 6px rgb(236, 182, 238);
}
