.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.content img {
  border-radius: 10px;
}

.nav-dropdown-link-item .icon {
  display: none;
}

tr:nth-child(2n) {
  background-color: #1c1f24;
}

:root {
  --c-brand: rgb(230, 20, 240);
  --c-brand-light: rgba(230, 20, 240, 0.5);
  --c-bg: rgb(6, 1, 12);
  --c-text: rgb(236, 236, 236);
  --c-text-light: rgb(180, 180, 180);
  --c-divider-light: rgb(40, 25, 40);
}
